.App {
  display: block !important;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: visible;
}

.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.font-link {
  font-family: 'Nunito', sans-serif;
}

.shoppingPage {
margin-top: 50px; 
}

.product1Infor {
  margin-top: 50px; 
}

.productCreate {
  margin-top: 50px; 
}

.Footer {
  bottom: 0;
  width: 100%;
}
