.App {
  flex-direction: column;
  min-height: 100vh;
}

.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.font-link {
  font-family: 'Nunito', sans-serif;
}

.shoppingPage {
margin-top: 50px; 
}

.product1Infor {
  margin-top: 50px; 
}

.productCreate {
  margin-top: 50px; 
}

.Footer {
  color: white;
  background-color: #000000;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

