.hover-button:hover {
    transform: translateX(+500px);
  }

  .Navbar {
    height: 100px;
  }
  
  .Content {
    display: flex;
    flex: 1;
    overflow-y: auto;
  }
  
  .Footer {
    height: 60px;
    background-color: black;
  }